*{
    margin: 0;
    padding: 0;
}
html body{

      background-color: lavender;
}
.nav{
    display: flex;
    height: 80px;
    background-color: rgb(52, 1, 77);
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}
ul li{
    list-style-type: none;
}
ul li a{
    text-decoration: none;
    color: white;
    padding: 10px;
    font-size: 20px;

}
h1{
    color: white;
}
h1:hover{
    color: cyan;
}
.list{
    display: flex;
    }
ul li a:hover{
    color: cyan;
}
.ball1 img{
    margin-top: 40px;
}
.ball1{
    height: 300px;
    width: 200px;

}
.cont{
 display: flex;
 gap: 10px;
}
.margin p{
    border: 2px solid black;
    height: 30vh;
    
    overflow:auto;

    margin: 20px;
    padding: 20px;
    line-height: 1.5;
    background-color: rgba(240, 248, 255, 0.512);
    border-radius: 20px;
}
.head h2{
    border: 2px solid black;
    width: 90px;
    text-align: center;
    border-radius: 10px;
}
.head h2:hover{

    background-color: #4f46e5;     
    color: #f3f4f6;  
}
.interest{

    margin-left: 200px;
    border: 2px solid rgb(121, 113, 113);
    text-align: center;
    height: 70px;
    width: 250px;
    border-radius: 6px;
         background-color: #f3f4f6;     
    color: #1f2937;  

}
.interest:hover{
     background-color: #4f46e5;     
    color: #f3f4f6;  
    
}
.bg{
    margin: 20px; 
    border: 2px solid black;
    width: 200px;
    text-align: center;
   background-color: #f0f4f8;
   color: #1f2937;
}
.bg:hover {
    background-color: #3b82f6;  /* premium blue */
    color: white;
}
.man {
    margin: 20px;
    
}
.int{
    border: 2px solid black;
    width: 290px;
    height: 60px;
    text-align: center;
    background-color: #f3f4f6;     
    color: #1f2937;  

}
.int:hover{
     background-color: #4f46e5;     
    color: #f3f4f6;      
}
.int h2{

    margin-top: 10px;
}
.interesting{
    margin: 10px;
    border: 2px solid black;
    height: 30px;
    width: 90px;
    background-color: #f3f4f6;     
    color: #1f2937; 
}
.interesting:hover{
     background-color: #4f46e5;     
    color: #f3f4f6;      
}
.interesting h3{
   text-align: center;
   margin-top: 5px;
   
}
.hobbies{
     margin: 10px;
    border: 2px solid black;
    height: 30px;
    width: 90px;
    margin-top: 2px;
    background-color: #f3f4f6;     
    color: #1f2937; 
}
.hobbies:hover{
     background-color: #4f46e5;     
    color: #f3f4f6;      
}
.hobbies h3{
    margin-top: 2px;
}
.call{
     
border: 2px solid black;
text-align: center;
width: 200px;
height: 50px;
background-color: #f3f4f6;     
    color: #1f2937; 

}
.call:hover{
     background-color: #4f46e5;     
    color: #f3f4f6; 
    
}
