*{
    margin: 0;
    padding: 0;
}
.form{
    border: 2px solid black;
    height: 200px;
    width: 500px;
    margin-left: 10px;
    padding-left: 20px;
    background-color: rgba(240, 248, 255, 0.384);
}
.form-group{

font-size: 20px; 
}
.form-group label{
    padding: 30px;

}
.buton button{
    background-color: green;
    color: white;
}
.buton button:hover{
    background-color: chartreuse;
    color: black;
}