.king{
    
text-align: center;              
    font-family: Arial, sans-serif;  
    font-weight: bold;               
    letter-spacing: 2px;
    background-color: darkblue;
    color: white;
    margin: 10px;
    

}